/* height ,width (content),
border of div  */

div{
    height:200px;
    width:500px;
    background-color: pink;

    border-width: 5px;
    border-style: solid;
    border-color: black;
    /* border:5px solid black; */

    border-left-width:10px;
    border-left-style: dashed;
    border-left-color: blue;
    /* border-left:2px dashed blue; */


    /* border-radius: 50px; */
    border-top-right-radius:50px;

}
h1{
       /* border-width: 2px;
    border-style: dashed;
    border-color: purple; */
    border: 2px solid green;

}
